  <% @que.each do |question| %>
  
      <tr>
        <td><%= question.title %></td>
         <td><%#= link_to "#{question.try(:title)}", questions_chapter_path(question.id) %></td>
       
      </tr>
   <%= will_paginate @que %>
    <% end %>